 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

:root {
  --white: #fff;
  --black:#000;
  --pink:#ff5361;
}
/* css header */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/banner.png);
  background-size: cover;
  background-position: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
}

.logo {
  cursor: pointer;
  width: 140px;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
}

.nav-links li a {
  text-decoration: none;
  color: var(--white)
  ;
}
.register-btn {
  background: var(--white);
  color: var(--black);
  padding: 8px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 24px;
}

.header .container-form {
  padding: 0 7%;
}

.header .container-form h1 {
  font-size: 4vw;
  text-align: center;
  padding-top: 22%;
  color: var(--white);
}

.container-form .search-bar {
  background-color: var(--white);
  width: 70%;
  margin: 30px auto;
  padding: 6px 10px 6px 30px;
  border-radius: 50px;
}

.container-form .search-bar form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.search-bar .location-input {
  flex: 1;
}

.search-bar .location-input input[type='text'] {
  display: block;
  border: none;
  outline: none;
  background: transparent;
  margin-top: 3px;
}

.search-bar .location-input label {
  font-weight: 600;
}

.search-bar button {
  background-color: var(--pink);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0;
  outline: none;
  cursor: pointer;
}

.search-bar button img{
  width: 15px;
  margin-top: 6px;
}
/* end header */
/* ----------------Exclusives------------ */
.container{
  padding: 0 7%;
}

.container .sub-title{
  margin: 50px 0 20px;
  font-size: 2.2vw;
  font-weight: 500;
  color: #333;
}

.container .exclusives {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
}
.exclusives .box-contain img{
  width: 100%;
  border-radius: 10px;
}

.exclusives .box-contain {
  position: relative;
}

.exclusives span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--white);
}

/* -----------trending place------------ */

.container .trending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
}

.trending .box-contain img {
  width: 100%;
  border-radius: 10px;
}

.trending .box-contain h3 {
  font-weight: 600;
  margin-top: 10px;
}
/* ---------call to action----------- */
.container .cta{
  margin: 80px 0;
  background-image: linear-gradient(to right,#3f2321,transparent),url(images/banner-2.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 5%;
  color: var(--white);
}

.container .cta h3{
  font-size: 4vw;
  line-height: 5.3vw;
  font-weight: 500;
}

.container .cta p{
  font-size: 18px;
  margin: 10px 0;
}

.container .cta .cta-btn{
  background: var(--pink);
  color: var(--white);
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 8px;
  margin-top: 20px;
  display: inline-block;
}
/* ------------travellers stories------------ */
.container .stories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
}

.stories .box-contain img {
  width: 100%;
  border-radius: 10px;
}

.stories .box-contain{
  position: relative;
  text-align: center;
}

.stories .box-contain p {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--white);
  font-size: 26px;
}

.container .start-btn {
  text-decoration: none;
  background-color: var(--pink);
  color: var(--white);
  width: 80%;
  max-width: 350px;
  display: block;
  text-align: center;
  margin: 60px auto;
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;
}

/* ------------about staybnb------------ */
.container .about-msg{
  text-align: center;
  margin: 90px 0;
  color: #333;
  font-size: 17px;
}

.container .about-msg h2{
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 500;
}